
.dark .tag-span{
    border: 1px solid rgb(97,97,97);
    border-radius: 6px;
    background-color: rgb(97, 97, 97);
    font-size: 16px;
    padding: 0px 4px;
    color: rgb(231,231,231) !important;
}

.tag-span{
    border: 1px solid rgb(231,231,231);
    border-radius: 6px;
    background-color: rgb(231, 231, 231);
    font-size: 16px;
    padding: 0px 4px;
    color: rgb(97,97,97) !important;
}
@media (max-width: 860px) {
    #memos {
        ul {
            padding-left: 0 !important;
        }
    }

    .timeline {
        margin-right: 0;
        ul {
            li {
                margin-left: 0;
                div {
                    width: 100%;
                    left: 0;
                    max-width: 100%;
                }
            }
        }
    }
}


#memos {
    ul {
        padding-left: 0 !important;
    }
}
.memos__comment {
    margin-right: 5px;
    button {
        background: none !important;
        margin: 0;
        padding: 0;
        border: none;
        i {
            color: red;
        }
    }
    &:hover {
        .icon-comment {
            &::before {
                content: "\e691";
            }
        }
    }
}


/* 首页嘀咕样式 JSON 版 */
#ticker {
    display: flex;
    flex: 1 auto;
    align-items: center;
    line-height: 35px;
    height: 45px;
    max-width: 800px;
    width: 96%;
    text-align: left;
    padding: 5px 15px;
    margin: 20px 0;
    position: relative;
    border-radius: 8px;
    font-size: 1rem;
    overflow: hidden;
    background: #eeeef1;
}
.home {
    .home-profile {
        .home-disclaimer {
            padding: 0 !important;
        }
    }
}
.ticker-wrap {
    overflow: hidden;
    ul {
        padding-left: 0.5rem;
    }
}
.ticker-list {
    margin: 0;
    height: 35px;
    li {
        list-style: none;
        margin-bottom: 10px;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.item {
    list-style: none;
    margin-bottom: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    code {
        white-space: nowrap !important;
    }
}
[theme="dark"] {
    #ticker {
        background: #2d333b !important;
    }
}
[theme="black"] {
    #ticker {
        background: #2d333b !important;
    }
}
.fa-github-alt {
    &:before {
        content: "\f09b" !important;
    }
}
@media (max-width: 860px) {
    #ticker {
        width: 90%;
    }
}