{{ define "main" }}
<main class="main single" id="main">
<div class="main-inner">


    <div class="container">
        <div class="page-header">
            <h1 id="timeline" ><center>博客改造日记</center></h1>
        </div>
        <ul class="timeline">
            <li>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">2022-10-28</h4>
                </div>
                <div class="timeline-body">
                  <p>更换live2d模型,<a href="https://cloud.tencent.com/developer/article/2048383" target="_blank" rel="noopener noreferrer" style="color:blueviolet;">Live 2D所有模型展示图,看板娘图形合集</a></p>
                </div>
              </div>
            </li>
        </ul>
    </div>

</div>
</main>

{{ end }} 