{{ define "main" }}
<main class="main single" id="main">
<div class="main-inner">

  <div class="container">
    <p>共发表了 <span id="memosCount">0</span> 条 Memos 说说！</p>
  </div>
  <script>
    function getTotal() {
      var totalUrl = "https://s.dusays.com/api/memo/amount?userId=9";
      fetch(totalUrl).then(response => {
        return response.json();
      }).then(data => {
        var memosCount = document.getElementById('memosCount');
        memosCount.innerHTML = data.data;
      }).catch(err => {
      });
    };
    window.onload = getTotal();
  </script>
  
  
  <div id="bber"></div>
  <script src="https://jsd.onmicrosoft.cn/npm/marked/marked.min.js"></script>
  <script src="https://jsd.onmicrosoft.cn/gh/Tokinx/ViewImage/view-image.min.js"></script>
  <script src="https://jsd.onmicrosoft.cn/gh/Tokinx/Lately/lately.min.js"></script>
  <script type="text/javascript">
    var bbMemos = {
      memos : 'https://s.dusays.com/',//修改为自己部署 Memos 的网址，末尾有 / 斜杠
      limit : '20',//默认每次显示 10条
      creatorId:'9' ,//早期默认为 101 用户，新安装是 1； https://demo.usememos.com/u/101
      domId: '',//默认为 <div id="bber"></div>
    }
  </script>
  <script src="/js/dusays.js"></script>
  
<style>
.dark .tag-span{
    border: 1px solid rgb(97,97,97);
    border-radius: 6px;
    background-color: rgb(97, 97, 97);
    font-size: 16px;
    padding: 0px 4px;
    color: rgb(231,231,231) !important;
}

.tag-span{
    border: 1px solid rgb(231,231,231);
    border-radius: 6px;
    background-color: rgb(231, 231, 231);
    font-size: 16px;
    padding: 0px 4px;
    color: rgb(97,97,97) !important;
}
 
</style>

</div>
</main>

{{ end }}