{{ define "main" }}
<main class="main single" id="main">
<div class="main-inner">
<div class="container">
  <p>共发表了 <span id="memosCount">0</span> 条 Memos 说说！</p>
</div>
<script>
  function getTotal() {
    var totalUrl = "https://dusays-memos.itisn.cyou/api/memo/amount?creatorId=9";
    fetch(totalUrl).then(response => {
      return response.json();
    }).then(data => {
      var memosCount = document.getElementById('memosCount');
      memosCount.innerHTML = data.data;
    }).catch(err => {
    });
  };
  window.onload = getTotal();
</script>


<div id="bber"></div>
<script src="https://jsd.onmicrosoft.cn/npm/marked/marked.min.js"></script>
<script src="https://jsd.onmicrosoft.cn/gh/Tokinx/ViewImage/view-image.min.js"></script>
<script src="https://jsd.onmicrosoft.cn/gh/Tokinx/Lately/lately.min.js"></script>
<script type="text/javascript">
  var bbMemos = {
    memos : 'https://dusays-memos.itisn.cyou/',//修改为自己部署 Memos 的网址，末尾有 / 斜杠
    limit : '10',//默认每次显示 10条
    creatorId:'9' ,//早期默认为 101 用户，新安装是 1； https://demo.usememos.com/u/101
    domId: '',//默认为 <div id="bber"></div>
  }
</script>
<script src="/js/dusays.js"></script>

</div>
</main>

{{ end }}