/*鼠标样式*/
// body,
// html {
//     cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8px' height='8px'><circle cx='4' cy='4' r='4' opacity='.5'/></svg>") 4 4, 
//     auto !important;
// }

// * {
//     cursor: url(https://blog-static.cnblogs.com/files/blogs/409706/BLOG_cursor.ico),
//       auto !important;
//   }
  

* {
    cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8px' height='8px'><circle cx='4' cy='4' r='4' opacity='.5'/></svg>") 4 4, auto
}



#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 8px;
    opacity: 0.25;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
}

#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
}

/*************************/

// a {
//     color: rgb(0, 93, 146);
//     opacity: .7;
//     transition: opacity .2s;
//     text-decoration: none;
// }

// a:hover {
//     opacity: 1;
// }

// #clickME {
//     cursor: pointer;
//     display: inline-block;
//     border: 1px solid #000;
// }
 
/* a, */
// img {
//   cursor: url(/images/cursor/Arrow.cur),
//     auto !important;
// }
 
/*a标签*/
// a:hover {
//   cursor: url(/images/cursor/Button.cur),
//     auto;
// }
 
// input:hover{
//   cursor: url(/images/cursor/Hand.cur),
//     auto;
// }
/*按钮*/
// button:hover {
//   cursor: url(/images/cursor/UpArrow.cur),
//     auto;
// }
 
/*i标签*/
// i:hover {
//   cursor: url(/images/cursor/link.cur),
//     auto;
// }
 
/*页脚a标签*/
// #footer-wrap a:hover {
//   cursor: url(/images/cursor/hf.cur),
//     auto;
// }
 
/*分页器*/
// #pagination .page-number:hover {
//   cursor: url(/images/cursor/i.cur),
//     auto;
// }
 
/*头部的导航栏*/
// #nav .site-page:hover {
//   cursor: url(/images/cursor/hf.cur),
//     auto;
// }
 
/*鼠标样式END*/