/*隐藏每条可见状态标签*/
.user-banner-container > .username-container > .tag,
.memo-wrapper
    > .memo-top-wrapper
    > .status-text-container
    > .status-text.public,
.page-header .title-text {
    display: none !important;
}

/* 隐藏昵称后面的 MOD 字符 */
.user-banner-container > .username-container > .tag {
    display: none !important;
}

/*隐藏 大于10行的标签 By eallion*/
.tags-wrapper > .tags-container .tag-item-container:nth-child(1n + 11) {
    display: none !important;
}

/*隐藏发布权限设置*/
.memo-editor-container > .editor-header-container > .visibility-selector {
    display: none !important;
}

/*统一标签、链接颜色为绿色*/
.memo-content-wrapper > .memo-content-text .tag-span,
.memo-content-wrapper > .memo-content-text .link {
    color: rgb(22, 163, 74) !important;
}

/*修改 blockquote 为单引号*/
.memo-content-wrapper > .memo-content-text blockquote {
    font-family: KaiTi, STKaiti, STFangsong !important;
    margin: 0 0 0 1rem !important;
    padding: 0.25rem 2rem !important;
    position: relative !important;
    border-left: 0 none !important;
}

.memo-content-wrapper > .memo-content-text blockquote::before {
    line-height: 2rem !important;
    content: "“" !important;
    font-family: Georgia, serif !important;
    font-size: 28px !important;
    font-weight: bold !important;
    position: absolute !important;
    left: 10px !important;
    top: 5px !important;
}

/*开启暗黑模式*/
@media (prefers-color-scheme: dark) {
    body {
        filter: invert(90%) hue-rotate(180deg) !important;
    }

    img,
    .icon,
    .mr-1,
    video,
    div[class*="language-"] {
        filter: invert(110%) hue-rotate(180deg) !important;
        opacity: 0.8 !important;
    }

    .memo-editor-container
        > .common-tools-wrapper
        > .btns-container
        > .confirm-btn {
        color: #000 !important;
    }
}