{{ if or (or (and .IsHome .Site.Params.displayHeaderInHome) (eq .Site.Params.headerLayout "flex")) (and (not .IsHome) .Site.Params.enableHeader) }}
    <header class="header">
        {{ if eq .Site.Params.headerLayout "flex" }}
            <div class="header-wrapper">
                <div class="header-inner {{ cond (or .IsHome (eq (len .Pages) 0)) "single" "list"}}">
                    {{ template "site-brand" . }}
                    {{ partial "menu.html" . }}
                    {{ partial "custom/header.html" . }}
                </div>
            </div>
            {{ partial "components/nav-toggle.html" . }}
        {{ else }}
            {{ template "site-brand" . }}
        {{ end }}
    </header>
{{ end }}

{{ define "site-brand" }}
    <div class="site-brand">
        {{ if .Site.Params.siteBrandSVG }}
            <a href="{{ print `/` | relLangURL }}">{{ partial "utils/icon.html" (dict "$" . "name" "brand") }}</a>
        {{ else }}
            <a href="{{ print `/` | relLangURL }}" class="brand">{{ .Site.Title }}</a>
        {{ end }}
    </div>
    <div id="tp-weather-widget"></div>
                    <script>
                        (function(a,h,g,f,e,d,c,b){b=function(){d=h.createElement(g);c=h.getElementsByTagName(g)[0];d.src=e;d.charset="utf-8";d.async=1;c.parentNode.insertBefore(d,c)};a["SeniverseWeatherWidgetObject"]=f;a[f]||(a[f]=function(){(a[f].q=a[f].q||[]).push(arguments)});a[f].l=+new Date();if(a.attachEvent){a.attachEvent("onload",b)}else{a.addEventListener("load",b,false)}}(window,document,"script","SeniverseWeatherWidget","//cdn.sencdn.com/widget2/static/js/bundle.js?t="+parseInt((new Date().getTime() / 100000000).toString(),10)));
                        window.SeniverseWeatherWidget('show', {
                          flavor: "slim",
                          location: "WX4FBXXFKE4F",
                          geolocation: true,
                          language: "zh-Hans",
                          unit: "c",
                          theme: "auto",
                          token: "0225a20f-7f8d-4d1a-920f-d55dc9885d82",
                          hover: "false",
                          container: "tp-weather-widget"
                        })
                      </script>
{{ end }}
